html {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3em;
}

/* Custom Styles */

.landing_page {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  background: #ededed;
  color: #4b5658;
}

.landing_page .intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2.3em;
  font-weight: 600;
  justify-content: center;
}

.landing_page .tagline {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 100;
  justify-content: center;
}

.icons-social i {
  padding: 20px;
  justify-content: center;
}

.icons-social a {
  color: #4b5658;
}

.icons-social a svg path {
  fill: #4b5658;
}

.devto {
  margin-bottom: -0.2rem;
}

.devto svg {
  margin-bottom: -0.2rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem;
}

.resume_page {
  background: #ededed;
  min-height: 90vh;
  padding: 0.5rem 1rem;
}

.left_pane {
  padding: 1em;
  border: solid black 1px;
}

.right_pane {
  padding: 1em;
  border: solid black 1px;
}

.profile_image {
  height: 30vh;
  width: 100%;
  padding: 1em 2em;
  border-radius: 50%;
  transform: rotate(270deg);
}

.user_name {
  padding: 0.5em;
}

.basic_details {
  padding-left: 0.5em;
}

.contact_icons {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.contact_icons i {
  font-size: 1.5em;
  padding-right: 20px;
  justify-content: center;
}

.contact_details {
  padding-bottom: 0.5em;
}

.skills {
  padding-left: 0.5em;
  padding-top: 1em;
}

.about_me_details {
  border-bottom: solid black 1px;
}

.project_Cards {
  padding: 2em;
}

.card_template {
  padding: 1em;
}

.git_link {
  font-size: 1em;
  color: black;
}

.card_text {
  justify-content: center;
}

@media only screen and (max-width: 736px) {
  .personal_info {
    height: 38vh;
  }
  .profile_image {
    height: 38vh;
  }
}
